<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078252997713-5hb9srasa0qic4tj1ur2so0siq66l2cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078252997713-5hb9srasa0qic4tj1ur2so0siq66l2cb</string>
	<key>API_KEY</key>
	<string>AIzaSyCUlxDc4OGnZhYDCMaD9r73r1NMpPS5ibw</string>
	<key>GCM_SENDER_ID</key>
	<string>1078252997713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hospital.atia.demo</string>
	<key>PROJECT_ID</key>
	<string>atia-hospital</string>
	<key>STORAGE_BUCKET</key>
	<string>atia-hospital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078252997713:ios:be4213d502f5b11d3a7c70</string>
	<key>DATABASE_URL</key>
	<string>https://atia-hospital.firebaseio.com</string>
</dict>
</plist>